:root{

    --primary-color: red;

    --images-height:100px;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header , footer{
    padding: 4rem;
    background-color:var(--primary-color);
    text-align: center;

}

.logo{
    margin: 0 auto;
    width:fit-content;
}


header img, footer img{
    height: 40px;
    
}


h1{
    font-size: 20px;
    font-family: 'Poppins';
}

p{
    font-family: 'kanit';
}
footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

footer>*{
    margin:10px;
}


.masonryImage{
    width:80%;
    height:auto;
    padding:10px;

}


.images{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    width:100vw;
    margin:0 auto;
    align-items: center;

}

.image{
    height:20%;
}

@media screen and (min-width:650px) {
    .masonryImage{
        width:65%;
        max-width: 300px;
    }

    .images{
        max-height: 1500px;
    }
}

@media screen and (min-width:768px) {
    .masonryImage{
        width:30%;
        max-width: 250px;
    }

    .images{
        max-height: 2500px;
    }

    
}


@media screen and (min-width:1440px) {
    .masonryImage{
        width:25%;
        max-width: 300px;
    }

    .images{
        max-height: 1000px;
    }

    
}