:root{

    --primary-color: red;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header , footer{
    padding: 4rem;
    background-color:var(--primary-color);
    text-align: center;

}

.logo{
    margin: 0 auto;
    width:fit-content;
}


header img, footer img{
    height: 40px;
    
}


h1{
    font-size: 20px;
    font-family: 'Poppins';
}

p{
    font-family: 'kanit';
}
footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

footer>*{
    margin:10px;
}


.masonryImage{
    width:80vw;
    height:auto;
    padding:10px;
}


.images{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    width:100vw;
    margin:0 auto;

}